
<body>
    <form action="results.html" method="Get" enctype="multipart/form-data">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" name="age" id="age" min="1" max="70" step="1">
        </div>
        <div>
            <label for="date">Birthdate</label>
            <input type="date" name="date" id="date" min="2010-01-01">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            Favourite Food
            <div>
                <label for="banana">Banana</label>
                <input type="checkbox" name="banana" id="banana">
        
            </div>
            <div>
                <label for="apple">Apple</label>
                <input type="checkbox" name="apple" id="apple" required>
        
            </div>
        </div>
        <div>
            Gender
            <div>
                <label for="male">Male</label>
                <input type="radio" name="gender" id="name" required>
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
        
            </div>
        </div>
        
    </form>
</body>